* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}

body,
html {
    overflow-x: hidden;
    background-color: #041d53;
}

.heading {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    margin-top: 2.25em;
    text-align: center;
}

.heading:hover {
    color: green;
}

.login {
    display: block;
    max-width: 400px;
    margin-top: 6.875em;
    background-color: #ffc805;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

input[type=text] {
    max-width: 200px;
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.logo {
    min-height: 150px;
    max-width: 40%;
}

/* css end for index.html */

/* css for select.html */
select {
    max-width: 200px;
}

.heading2 {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    margin-top: 2.25em;
    text-align: center;
}

.heading2:hover {
    color: violet;
}

.txt {
    color: #ffc805;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.choose {
    margin-top: 50px;
}