* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}

body,
html {
    overflow-x: hidden;
    background-color: #041d53;
}

.heading {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    margin-top: 2.25em;
    text-align: center;
}

.heading:hover {
    color: green;
}

.login {
    display: block;
    max-width: 400px;
    margin-top: 6.875em;
    background-color: #ffc805;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

input[type=text] {
    max-width: 200px;
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

@media screen and (max-width: 576px) {

    .logo {
        min-height: 80px !important;
        max-width: 30% !important;
    }

    .login {
        max-width: 260px;
        margin-bottom: 90px;
    }

    .heading {
        margin-top: 1.25em;
        font-size: x-large;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .logo {
        /* min-height: 90px !important; */
        /* margin-bottom: 2px; */
        margin-left: 70px;
        height: 90px;
        /* max-width: 100% !important; */
    }

    .login {
        max-width: 350px;
        margin-bottom: 75px;
    }

    .heading {
        margin-top: 1.25em;
        margin-left: 150px;
        /* font-size: xx-large; */
    }

}

/* css end for index.html */

/* css for select.html */
select {
    max-width: 200px;
}

.heading2 {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    margin-top: 2.25em;
    text-align: center;
}

.heading2:hover {
    color: violet;
}

.txt {
    color: #ffc805;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.choose {
    margin-top: 50px;
}